.button {
    background-color: var(--clr-blue);
    border: 2px solid var(--clr-white);
    border-radius: 15px;
    padding: 10px;
    color: var(--clr-white);
    transition: 0.7s;
}

.button:hover {
    box-shadow: 3px 3px 5px var(--clr-white);
    background-color: var(--clr-grey);
}