.container {
    display: flex;
    align-items: center;
    align-content: flex-end;
}

.pemImg {
    max-width: 50px;
}

.pemText {
    padding: 0.5rem;
}

.anchorPem {
    color: inherit;
    text-decoration: none;
}